$background: #2c3e50;
$highlighted: #34495e;
$foreground: #ffffff;
$sidebarwidth: 280px;

html, body { height: 100%; overflow: hidden}
#map-wrapper { position: absolute; left: 0; right: $sidebarwidth; top: 50px; bottom: 0; float: left; }
#themap { width: 100%; height: 100%;}
#themap img { max-width: none; }

.navbar-custom {
  background-color: $background;
  color: $foreground;
  border-radius: 0;
}
  
.navbar-custom .navbar-nav > li > a {
  color: $foreground;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: $foreground;
  background-color: transparent;
}
   
.navbar-custom .icon-bar {
  background-color: $foreground;
}   

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $highlighted;
}
      
.navbar-custom .navbar-brand {
  color: $foreground;
  font-size: 24px;
  font-family: 'Norican', serif;
}

.navbar-custom .navbar-toggle {
  background-color: $highlighted;
}

#sidebar { 
  background-color: $background;
  overflow: auto; 
  position: absolute; 
  padding: 4px; 
  width: $sidebarwidth; 
  right: 0; 
  top: 50px; 
  bottom: 0px; 
  float: right; 
}

#sidebartoggle { 
  background-color: $background;
  color: $foreground;
  position: absolute; 
  display: block; 
  right: $sidebarwidth; 
  width: 24px; 
  height: 60px; 
  top: 50%; 
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}

#sidebartogglebutton { 
  position: absolute; 
  display: block; 
  width: 14px; 
  height: 14px; 
  top: 50%; 
  left: 50%; 
  margin-left: -5px; 
  margin-top: -10px; 
}

@media(max-width:599px){.only-small{display:inherit!important}.only-large{display:none!important}}
@media(min-width:600px){.only-small{display:none!important}.only-large{display:inherit!important}}

.my-button {
  width: 26px;
  height: 26px;
  padding: 2px;
}

.my-section {
  position: relative;
  margin: 4px 0;
  padding: 39px 6px 6px 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.my-section-with-footer {
  padding: 39px 6px 39px 6px;
}

.my-section-header {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #444;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.my-section-buttons-top {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 2px 5px;
}

.my-section-buttons-bottom {
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 2px 5px;
}

.my-small-select {
  width: 55px; 
  height:26px; 
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px; 
  padding-bottom: 1px; 
  margin-bottom: 4px;
}

.my-new {
  background-image:url(../img/new.png);
  background-repeat:no-repeat;
  background-position: 2px 2px;
}
