RewriteEngine on 

### normal
RewriteRule ^$ map.php
RewriteRule ^index.php$ map.php
RewriteRule ^index.html$ map.php
RewriteRule ^beta.php$ map.php

### wartung
#RewriteRule ^$ wartung.html
#RewriteRule ^index.html$ wartung.html
#RewriteRule ^index.php$ wartung.html
