RewriteEngine on 

Redirect /oc.html http://flopp.grus.uberspace.de/oc-monitor/

### normal
RewriteRule ^$ map.php
RewriteRule ^index.php$ map.php
RewriteRule ^index.html$ map.php
RewriteRule ^beta.php$ map.php

### wartung
#RewriteRule ^$ maintenance.html
#RewriteRule ^index.html$ maintenance.html
#RewriteRule ^index.php$ maintenance.html
