RewriteEngine on 
RewriteBase /

Redirect /oc.html http://flopp.grus.uberspace.de/oc-monitor/

### normal
RewriteRule ^$ map.php
RewriteRule ^index.php$ map.php
RewriteRule ^index.html$ map.php
RewriteRule ^beta.php$ map.php

### wartung
#RewriteRule ^$ disabled.html
#RewriteRule ^index.html$ disabled.html
#RewriteRule ^index.php$ disabled.html
